html {
  font-family: Whitney-Medium-Pro,Arial,Helvetica,sans-serif
}

body {
  margin: 0;
}

.container { 
  width: 100%
}

.cblt-feature-container {
  max-width: 960px;
  display: flex;
  align-self: center;
  flex-wrap: wrap;
}

.cblt-feature-container-3 {
  max-width: 960px;
  display: flex;
  align-self: center;
  flex-wrap: wrap;
}

.cblt-feature-container-solo {
  max-width: 960px;
  grid-template-columns: 1fr;
  display: grid;
  justify-items: center;
}

.cblt-feature-container-3 .cblt-box:nth-child(2) {
  padding: 0.5rem;
  border: 1px solid #aaa;
  margin: 0;
}
@media(max-width: 869px) {
  .cblt-feature-container-3 .cblt-box:nth-child(2) {
    order: 1;
    flex: 0 0 100%;
  }
}

.cblt-box {
  display: flex;
  padding: 1rem;
  flex-direction: column; 
  color: #333;
  border: 1px solid #aaa;
  margin: 1rem 0.25rem;
  flex: 1 1 250px;
  order: 2;
}

.cblt-box-solo {
  max-width: 438px;
  width: 100%;
  margin-top: 1rem;
}

.cblt-section-title {
  font-size: 2.5rem;
  font-weight: 100;
  margin-top: 1rem;
}

.cblt-banner-image {
  width: 100%;
  overflow: hidden;
  max-height: 400px;
  height: 400px;
  object-fit: cover;
}
.cblt-product-title {
  font-size: 2.5rem;
  font-weight: 100; 
  margin-bottom: 0.5rem;
}

.cblt-image-box > img {
  max-width: 100%; 
}

.cblt-outer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}


.cblt-out {
  opacity: 0;
}

.cblt-page-out {
  opacity: 0;
  position: relative;
}

.cblt-page-out-start {
  opacity: 0;
  
  position: relative;
}
@media (orientation: portrait) {
  .cblt-page-out-start {
    transform: translate(-100%, 0);
  }

}

.cblt-page-fadein {
  transition-duration: 0.5s, 0.5s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  opacity: 1;
  z-index: 500;
  position: relative;
}

.cblt-page-fadeout {
  transition-duration: 0.5s;
  opacity: 0;
  position: relative;
}

.cblt-fadeout {
  transition-duration: 0.5s;
  opacity: 0;
}

.cblt-fadein {
  transition-duration: 0.5s;
  opacity: 1;
}

.cblt-fadein-slow {
  transition-duration: 2s;
  opacity: 1;
}

.cblt-fadein-fast {
  transition-duration: 0.5s;
  opacity: 1;
}

.cblt-outer-container-bottom {
  margin-bottom: 5rem;
}

.cblt-inner-container {
  max-width: 960px;
  width: 100%;
}

.cblt-inner-container > * {
  margin: 0 1rem;
}

.cblt-header {
  /* Show over sliding elements */
  z-index: 1000;
  position: relative;
  background: white;
}

.cblt-menu-bg {
  background: #c20000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.cblt-menu {
  color: #fff;
  display: flex;
}

.cblt-menu .cblt-menu-item:nth-child(1) {
  border-left: 1px solid #000;
}

.cblt-menu-item {
  border-right: 1px solid #000;
  background: #c20000;
  color: #fff;
}

.cblt-menu-item:hover {
  background: #fff;
  color: #000;
  transition: 0.3s;
}

.cblt-menu-item-text {
  padding: 1rem 2.5rem;
}

.button-success {
  color: #fff;
  background: #c20000;
  border: 1px solid #c20000;
  display: block;
  margin: auto 1rem 0 1rem;
  padding: 14px 30px;
  text-align: center;
  border-radius: 4px;
}


.button-success-small {
  color: #fff;
  background: #c20000;
  border: 1px solid #c20000;
  display: inline-block;
  margin: 0.5rem 1rem 0 1rem;
  padding: 14px 30px;
  text-align: center;
  border-radius: 4px;
}

.button-success:hover {
  color: #c20000;
  background: #fff;
  transition: 0.3s;
}

.button-success-small:hover {
  color: #c20000;
  background: #fff;
  transition: 0.3s;
}

.button-fail {
  color: #000;
  background: #def4f5;
  border: 1px solid #def4f5;
  display: block;
  margin: auto 1rem 0 1rem;
  padding: 14px 30px;
  text-align: center;
}

.button-fail:hover {
  color: #000;
  background: #fff;
  border: 1px solid #fff;
  transition: 0.3s;
}

.message-success {
  color: #333;
  background: #a3ffaf;
  border: 1px solid #52ff68;
  display: block;
  margin: auto 1rem 0 1rem;
  padding: 14px 0px;
  text-align: center;
  border-radius: 4px;
  width: 100%;
}

.message-fail {
  color: #333;
  background: #ffe594;
  border: 1px solid #ffc107;
  display: block;
  margin: auto 1rem 0 1rem;
  padding: 14px 0px;
  text-align: center;
  border-radius: 4px;
  width: 100%;
}

.inline-buttons {
  display: flex;
  padding: 1rem;
  flex-direction: row;
}

.logo-container { 
  padding: 0.5rem;
  display: flex;
	align-items: baseline;
}

.cblt-clickable {
  cursor: pointer;
  display: flex;
	align-items: baseline;
}

.logo-container .cblt-clickable img {
  filter: invert(100%);
  height: 3rem;
  vertical-align: bottom;
}
.logo-text {
  font-size: 2rem;
  margin: 0 1rem;
	justify-self: last baseline;
}

.login-text {
  color: #c20000;
  cursor: pointer;
  display: inline-flex;
  margin: 0 1rem;
	margin-left: auto;
	align-self: center;
	padding: 0.5rem;
  border-bottom: solid 1px white;
}

.login-text.logout {
  margin-left: 0;
}

.account-name {
  color: #333;
  display: inline-flex;
  margin: 0 1rem;
	margin-left: auto;
	align-self: center;
	padding: 0.5rem;
  border-bottom: solid 1px white;
}

.login-text:hover {
  border-bottom: solid 1px #c20000;
}

.cblt-feature-text-box-center {
  background: #ace4e5;
  color: #333;
  width: 100%;
  min-height: 100px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 100;
  border-bottom: 3px dashed #00c2c2;
  border-top: 3px dashed #00c2c2;
}

.cblt-label {
  color: #222;
  font-weight: bold;
}

.cblt-quote {
  color: #333;
  font-style: italic;
}

.cblt-form-container {
  max-width: 960px;
  grid-template-columns: 1fr;
  display: grid;
  justify-items: center;
}

.cblt-form-solo {
  max-width: 438px;
  width: 100%;
}

.cblt-form {
  margin-top: 1rem;
}

.cblt-form-input {
  display: block;
  width: 80%;
  margin: 0 1rem;
  border-radius: 6px;
  padding: 0 0.5rem 0 0.5rem;
  appearance: none;
  font-family: Whitney-Medium-Pro,Arial,Helvetica,sans-serif;
  min-height: 1.5rem;
  box-sizing: border-box;
}

.cblt-form-label {
  display: block;
  color: rgba(47, 47, 47, 0.8);
  margin: 0.5rem 1.5rem 0 1.5rem;
  font-size: 0.8rem;
}

.cblt-form-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
